Name : Divya Arvind Yadav
Branch : IT
task : List ,Tuple , Dictionary operations

# List Operations

In [3]:
# list creation
l1 = [1,2,3,4,5]
print("List :" , l1)

List : [1, 2, 3, 4, 5]

In [4]:
# double the each of list
print("Double the values : ", l1*2)

Double the values :  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [5]:
#pop () : it will delete the last element of list
l1.pop()
print(l1)

[1, 2, 3, 4]

In [6]:
l2 = [ 10,20,30,40,50,60,70,80,90,100]
l2

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [22]:
# reverse the list 
l2.reverse()
print(" Reversed list : ",l2)

 Reversed list :  [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [7]:
# slicing 
print("slicing: ", l2[0:5])

slicing:  [10, 20, 30, 40, 50]

In [19]:
# Negative inndexing 
print(" Slicing by negative indexing : ", l2[-5:-2])

 Slicing by negative indexing :  [60, 70, 80]

In [8]:
# It will find the index of specified number
print(l2.index(40))

3

In [28]:
# sort by 
l3 = [23,45,76,98,23,14]
l3.sort()
print("sort : ", l3)

sort :  [14, 23, 23, 45, 76, 98]

In [40]:
# extend () : adds multiple elements 
l3.extend([11,22,33,45])
print(l3)

[14, 45, 76, 98, 11, 22, 33, 45, 11, 22, 33, 45, 11, 22, 33, 45, 11, 22, 33, 45]

In [47]:
# count() : It will count how duplicates of a specific number is repeated
c_22 = l3.count(22)
print(" count of 22 : " , c_22)

 count of 22 :  0

In [53]:
#Remove () : it will remove the specified element
l4 = [12,23,4,5,6,7,89]
l4.remove(4)
print("After removing : " , l4)

After removing :  [12, 23, 5, 6, 7, 89]

# Tuple functions

In [55]:
# counts how many times specified element exists 
t1= (1,2,3,4,5,2,2,2,2)
count = t1.count(2)
print(" Number of 2 : ", count)

 Number of 2 :  5

In [57]:
#index of a specific element 
print("The index of 3 : ",t1.index(3))

The index of 3 :  2

In [58]:
#len() : the length of elements in atuple 
length = len(t1)
print("The length of tuple :", length)

The length of tuple : 9

In [59]:
# max() : returns the maximum element of a tuple 
print("maximum element of a tuple : " , max(t1))

maximum element of a tuple :  5

In [60]:
# min() : returns the minimum element of a tuple 
print("minimum element of a tuple : ", min(t1))

minimum element of a tuple :  1

In [61]:
# sum() : returns the sum of a tuple 
print("Returns the sum of a tuple :",sum(t1))

Returns the sum of a tuple : 23

In [62]:
# sorted() : returns the sorted tuple
t2 = (32,13,54,65,45,67,87)
print("Sorted list :",sorted(t2))

Sorted list : [13, 32, 45, 54, 65, 67, 87]

In [106]:
# slicing in a tuple 
print("Slicing :", t1[1:4])

Slicing : (2, 3, 4)

In [109]:
# packing and unpacking 
person = ("John", 25, "Engineer")
(name, age, profession) = person
print(name)

John

In [111]:
# repeat  the tuple for specified number of times
t3 =(1,20,30)
print("Repeat tuple 4 times :" ,t3 *4)

Repeat tuple 4 times : (1, 20, 30, 1, 20, 30, 1, 20, 30, 1, 20, 30)

In [114]:
# membership opertor 
print(20 in t3 )

True

# dictionary functions

In [93]:
# creating and printing the dictionary 
d1 = {"name" : "Divya" , "age" : 17 , "subject" : "maths"}
print(d1)

{'name': 'Divya', 'age': 17, 'subject': 'maths'}

In [94]:
# get () : to get a data from particular key 
print("Name :", d1.get("name"))

Name : Divya

In [95]:
# pop() : will delete that particular key with data 
print("pop element :", d1.pop("subject"))

pop element : maths

In [96]:
# update () : it will update the data 
d1.update({"age" :18})
print(d1)

{'name': 'Divya', 'age': 18}

In [97]:
# it will print the dictionary items
print(d1.items())

dict_items([('name', 'Divya'), ('age', 18)])

In [98]:
# to add new key value pair ina existing dictionary
d1["subject"] = "maths"
print(d1)

{'name': 'Divya', 'age': 18, 'subject': 'maths'}

In [99]:
# setdefault(): it will save a default value 
d1.setdefault("age" ,18)

18

In [102]:
# values() : it will print only values
print(d1.values())

dict_values(['Divya', 18, 'maths'])

In [104]:
# copy() : it will copy the dictionary
new_dict = d1.copy()
print(new_dict)

{'name': 'Divya', 'age': 18, 'subject': 'maths'}

In [112]:
keys = ['name', 'age', 'city']
default_value = None

new_dict = dict.fromkeys(keys, default_value)
print(new_dict)

{'name': None, 'age': None, 'city': None}

In [105]:
# clear() : it will clear the dictionary elements
d1.clear()
print(d1)

{}